@(projectName: Seq[String], proname: String)(implicit session: Session)
@fileupload.main(proname, projectName, proname) {

    <style>
            label {
                text-indent: 2em;
            }

    </style>

    <div class="row-fluid">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet blue-soft box">

                    <div class="portlet-title">
                        <div class="caption">
                            OTU聚类和分类学注释分析
                        </div>
                    </div>

                    <div class="portlet-body">

                        <form class="registration-form form-horizontal" id="UpdateForm"
                        accept-charset="UTF-8">

                            @* <div class="form-group">
                            <h4 class="col-sm-12">任务信息:</h4>
                            </div>*@

                            <div class="form-group" style="display: none;">
                                <div class="col-sm-6 indent">
                                    <input name="proname" id="proname" class="form-control" value="@proname" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">任务名:</label>
                                <div class="col-sm-4 indent">
                                    <input name="otuname" id="otuname" class="form-control" />
                                    <small style="color: red;
                                        display: none;" id="remote" class="help-block" data-fv-validator="callback" data-fv-for="sample[]" data-fv-result="INVALID">
                                        任务名重复！</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">请选择输入样品:</label>
                                <div class="col-sm-4 indent">
                                    <select name="sample[]" id="sample" class="checkbox form-control phenotypeName" multiple></select>
                                </div>
                                <div class="col-sm-2" style="margin-top: 5px;">
                                    <input type="checkbox" id="checkbox" style="float: left">选择所有样品
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6">Usearch otu cluster and mapping(OTU聚类和丰度计算参数设置):</label>
                                <label class="col-sm-1" style="margin-left: -15%">
                                    <a id="down-1" style="margin-left: 2em">
                                        <i class="fa fa-arrow-down"></i>
                                    </a>
                                    <a id="up-1" style="margin-left: 2em;
                                        display: none">
                                        <i class="fa fa-arrow-up"></i>
                                    </a>
                                </label>
                            </div>

                            <div id="set-1" style="display: none" class="indent">


                                <div class="form-group" >
                                    <p class="col-sm-5" style="text-indent: 1em;">
                                        Usearch 'derep_prefix' command: Specify the minimum sequence length to be included in the output.</p>
                                    <div class="col-sm-12 indent-3">
                                        <div class="col-sm-4">
                                            <input name="minseqlength" id="minseqlength" class="form-control" value="200" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <p class="col-sm-5" style="text-indent: 1em;">
                                        Usearch 'cluster_otus' command: Specifies the OTU 'radius' as a percentage, i.e. the minimum difference between an OTU member sequence and the representative sequence of that OTU. Default is 3.0, corresponding to a minimum identity of 97%.</p>
                                    <div class="col-sm-12 indent-3">
                                        <div class="col-sm-4">
                                            <input name="otu_radius_pct" id="otu_radius_pct" class="form-control" value="3.0" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <p class="col-sm-5" style="text-indent: 1em;">
                                        Usearch 'usearch_global' command: Specifies the minimum identity between a query sequence(raw data) and a database sequence(otu representative sequence)</p>
                                    <div class="col-sm-12 indent-3">
                                        <div class="col-sm-4">
                                            <input name="id" id="id" class="form-control" value="0.97" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="col-sm-5" style="text-indent: 1em;">
                                        cluster_otus(cluster) and usearch_global(mapping) strand:</p>
                                    <div class="col-sm-12 indent-3">
                                        <div class="col-sm-4">
                                            <select class="form-control" name="strand">
                                                <option value="plus" selected>plus</option>
                                                <option value="both">both</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-6">RDP classifier assign taxonomy(分类学注释参数设置):</label>
                                <label class="col-sm-1" style="margin-left: -15%">
                                    <a id="down-2" style="margin-left: 2em">
                                        <i class="fa fa-arrow-down"></i>
                                    </a>
                                    <a id="up-2" style="margin-left: 2em;
                                        display: none">
                                        <i class="fa fa-arrow-up"></i>
                                    </a>
                                </label>
                            </div>

                            <div id="set-2" style="display: none" class="indent">

                                <div class="form-group">
                                    <p class="col-sm-5" style="text-indent: 1em;">
                                        Select Database:</p>
                                    <div class="col-sm-12 indent-3">
                                        <div class="col-sm-4">
                                            <select class="form-control" name="db">
                                                <option value="greengenes.16s">greengenes.16s</option>
                                                <option value="greengenes.16s_archaea">greengenes.16s_archaea</option>
                                                <option value="greengenes.16s_bacteria">greengenes.16s_bacteria</option>
                                                <option value="rdp.16s">rdp.16s</option>
                                                <option value="rdp.16s_archaea">rdp.16s_archaea</option>
                                                <option value="rdp.16s_bacteria">rdp.16s_bacteria</option>
                                                <option value="silva.16s">silva.16s</option>
                                                <option value="silva.16s_archaea">silva.16s_archaea</option>
                                                <option value="silva.16s_bacteria">silva.16s_bacteria</option>
                                                <option value="silva.18s_eukaryota">silva.18s_eukaryota</option>
                                                <option value="silva">silva</option>
                                                <option value="unite.its_fungi">unite.its_fungi</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <p class="col-sm-5" style="text-indent: 1em;">
                                        Taxon assignment method:</p>
                                    <div class="col-sm-12 indent-3">
                                        <div class="col-sm-4">
                                            <select class="form-control" name="method" onchange="change(this)">
                                                <option value="rdp">RDP Classifier</option>
                                                <option value="uclust" selected>Uclust consensus taxonomy assigner</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div id="rdp-1" style="display: none;">
                                    <p class="col-sm-5" style="text-indent: 1em;">
                                        <label class="col-sm-7">
                                            Minimum confidence to record an assignment, used for rdp method </label>
                                        <div class="col-sm-12 indent-3">
                                            <div class="col-sm-4">
                                                <input name="c" id="c" class="form-control" value="0.7" />
                                            </div>
                                        </div>
                                    </p>
                                </div>

                                <div id="uclust-1" >
                                    <div class="form-group" >
                                        <p class="col-sm-5" style="text-indent: 1em;">
                                            Number of database hits to consider when making an assignment, used for uclust method </p>
                                        <div class="col-sm-12 indent-3">
                                            <div class="col-sm-4">
                                                <input name="uma" id="uma" class="form-control" value="3" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group" >
                                        <p class="col-sm-5" style="text-indent: 1em;">
                                            Minimum percent similarity (expressed as a fraction between 0 and 1) to consider a database match a hit, used for uclust method </p>
                                        <div class="col-sm-12 indent-3">
                                            <div class="col-sm-4">
                                                <input name="s" id="s" class="form-control" value="0.9" />
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group">
                                <div class = "actions indent col-sm-4">
                                    <button type="button" class="btn btn-primary" style="width: 100%;" id="search" onclick="Running()">
                                        运行</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>


            $("#sample").select2();

            $("#checkbox").click(function () {
                if ($("#checkbox").is(':checked')) {
                    $("#sample > option").prop("selected", "selected");// Select All Options
                    $("#sample").trigger("change");// Trigger change to select 2
                } else {
                    $("#sample > option").removeAttr("selected");
                    $("#sample").trigger("change");// Trigger change to select 2
                }
            });


            $(function () {

                $.ajax({
                    url: "/project/getAllSampleName?proname=@proname",
                    type: "post",
                    success: function (data) {
                        $("#sample").select2(
                                {
                                    data: data,
                                    closeOnSelect: false,
                                }
                        );
                    }
                });


                $.ajax({
                    url: "/project/getTime",
                    type: "post",
                    success: function (data) {
                        $("#otuname").val(data.date + "_OTU");
                    }
                });

                formValidation();
            });


            function formValidation() {
                $('#UpdateForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        otuname: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                regexp: {
                                    regexp: '^[A-Za-z0-9"_"]{1,25}$',
                                    message: '25个以内字符，可使用字母、数字、下划线！'
                                }
                            }
                        },
                        'sample[]': {
                            validators: {
                                callback: {
                                    message: '请至少选择一个样品表型！',
                                    callback: function (value, validator, $field) {
                                        // Get the selected options
                                        var options = validator.getFieldElements('sample[]').val();
                                        return (options != null
                                                && options.length >= 1);
                                    }
                                }
                            }
                        },
                        minseqlength: {
                            validators: {
                                integer: {
                                    message: '必须为整数！'
                                },
                                between: {
                                    min: 0,
                                    message: "必须大于0！"
                                }
                            }
                        },
                        otu_radius_pct: {
                            validators: {
                                numeric: {
                                    message: '必须为数字'
                                },
                                between: {
                                    min: 0,
                                    max: 100,
                                    message: "范围：0 - 100！"
                                }
                            }
                        },
                        id: {
                            validators: {
                                numeric: {
                                    message: '必须为数字'
                                },
                                between: {
                                    min: 0,
                                    max: 1,
                                    message: "范围：0 - 1！"
                                }
                            }
                        },
                        c: {
                            validators: {
                                numeric: {
                                    message: '必须为数字'
                                },
                                between: {
                                    min: 0,
                                    max: 1,
                                    message: "范围：0 - 1！"
                                }
                            }
                        },
                        uma: {
                            validators: {
                                integer: {
                                    message: '必须为整数'
                                },
                                between: {
                                    min: 1,
                                    max: 99999999999,
                                    message: "最小值为1！"
                                }
                            }
                        },
                        s: {
                            validators: {
                                numeric: {
                                    message: '必须为数字'
                                },
                                between: {
                                    min: 0,
                                    max: 1,
                                    message: "范围：0 - 1！"
                                }
                            }
                        }
                    }
                })
            }

            $("#down-1").click(function () {
                $("#set-1").show();
                $("#down-1").hide();
                $("#up-1").show()
            });

            $("#up-1").click(function () {
                $("#set-1").hide();
                $("#down-1").show();
                $("#up-1").hide()
            });

            $("#down-2").click(function () {
                $("#set-2").show();
                $("#down-2").hide();
                $("#up-2").show()
            });

            $("#up-2").click(function () {
                $("#set-2").hide();
                $("#down-2").show();
                $("#up-2").hide()
            });

            function change(element) {
                var value = $(element).find(">option:selected").val()
                if (value == "rdp") {
                    $("#rdp-1").show()
                    $("#uclust-1").hide()
                } else {
                    $("#rdp-1").hide()
                    $("#uclust-1").show()
                }
            }


            function Running() {
                var form = $("#UpdateForm");
                var fv = form.data("formValidation");
                fv.validate();
                var x = $("#otuname").value;
                console.log(x);
                if (fv.isValid()) {
                    var index = layer.load(1, {
                        shade: [0.1, '#fff']
                    });
                    $.ajax({
                        url: "@routes.OtuController.checkName(proname)",
                        type: "post",
                        dataType: "json",
                        data: $("#UpdateForm").serialize(),
                        success: function (data) {
                            if (data.valid == "false") {
                                $("#remote").show();
                                layer.close(index);
                            } else {
                                $.ajax({
                                    url: "@routes.OtuController.saveDeploy()",
                                    type: "post",
                                    dataType: "json",
                                    data: $("#UpdateForm").serialize(),
                                    success: function (data1) {
                                        layer.close(index);
                                        if (data1.valid == "true") {
                                            var id = data1.id;
                                            window.location.href = "/project/otuPage?proname=@proname&id=" + id
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
            }

    </script>
}